language: python

python:
  - "3.7"

sudo: false

cache:
  directories:
    - "~/.platformio"

env:
  - PLATFORMIO_CI_SRC=DuinoDCX

before_install:
  - nvm install 10
  - npm install
  - npm run build

install:
  - pip install -U platformio
  - platformio update

script:
  - platformio ci --board=esp32dev
