.number-param-container {
    display: table;
    width: 100%;
}

.min-number, .slider, .max-number {
    display: table-cell;
    text-align: center;
}

.min-number, .max-number {
    width: 34px;
}

.slider-container {
    margin: 12px 18px 36px;
}

