body {
  padding-top: 60px;
  padding-bottom: 70px;
}

.block-ui {
  position: relative;
  min-height: 3em;
}

.block-ui-container {
  position: absolute;
  z-index: 1010;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 2em;
  cursor: not-allowed;
  overflow: hidden;
}

.block-ui-container:focus {
  outline: none;
}

.block-ui-overlay {
  width: 100%;
  height: 100%;
}

.content-loader{
  margin-top: 30px;
}

.content-loader h5{
  margin-top: 20px;
}

.recharts-default-tooltip {
  background-color: #272b30 !important;
}

.line-scale > div {
  width: 30px;
  height: 144px;
  border-radius: 10px;
  margin: 5px;
}

*:focus {outline:none !important}
