.channels-container {
  margin: 5px 10px;
}

.channel-group {
  float: left;
}

.channel-levels > ul {
  width: 258px;
}

@media (max-width: 767px) {
  .channel-levels > ul {
    width: 258px !important;
  }

  .channels-container {
    display: block;
  }
}
