.channels-container {
  margin: 5px 10px;
}

.channel-group {
  float: left;
}

.channel-levels > .dropdown-menu {
  width: 212px !important;
}

.led-bar {
  float: left;
}

.led-bar button {
  pointer-events:none;
  margin: 1px;
  cursor: default;
  width: 14px;
  height: 36px;
  float: left;
  padding: 0;
}

@media (max-width: 767px) {
  .channels-container {
    display: block;
  }
}

@media (min-width: 576px) {
  .channel-levels > .dropdown-menu {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    left: 98px;
    top: -48px;
  }

  .responsive-rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  #mute-all svg {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
